<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>反恐精英</title>
    <style>
        .memory_box{
            background:#F1F0CD;
            margin:15px;
            padding:10px;
        }
        .memory_title{
            text-align:center;
            margin-bottom:20px;
        }
        .content_text{
            line-height:20px;
            font:24px 宋体;
            text-indent:2em;
        }
    </style>
</head>
<body>
<div class = "memory_box">
    <div class = "memory_title">
        <h1>嘣，瞎卡拉卡</h1>
    </div>
    <div class = "content_text">
        <p>
            《反恐精英》将玩家分为“反恐精英”（Counter Terrorists）阵营与“恐怖份子”（Terrorists）阵营两队，
            每个队伍必须在一个地图上进行多回合的战斗。赢得回合的方法是达到该地图要求的目标，或者是完全消灭敌方玩家。
        </p>
    </div>
</div>
</body>
</html>