<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>暴力摩托</title>
    <style>
        .memory_box{
            background:#F1F0CD;
            margin:15px;
            padding:10px;
        }
        .memory_title{
            text-align:center;
            margin-bottom:20px;
        }
        .content_text{
            line-height:20px;
            font:24px 宋体;
            text-indent:2em;
        }
    </style>
</head>
<body>
<div class = "memory_box">
    <div class = "memory_title">
        <h1>冲啊</h1>
    </div>
    <div class = "content_text">
        <p>
            《暴力摩托》摩托车的引擎声和转弯时轮胎与地面摩擦而产生的声音。
            而且在游戏中加入了对抗成份，比赛中玩家可以使用拳、脚去干扰对方，使其落后，而且对手会主动攻击。
        </p>
    </div>
</div>
</body>
</html>