<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>翻绳</title>
    <style>
        .memory_box{
            background:#F1F0CD;
            margin:15px;
            padding:10px;
        }
        .memory_title{
            text-align:center;
            margin-bottom:20px;
        }
        .content_text{
            line-height:20px;
            font:24px 宋体;
            text-indent:2em;
        }
    </style>
</head>
<body>
<div class = "memory_box">
    <div class = "memory_title">
        <h1>花绳，翻来翻去</h1>
    </div>
    <div class = "content_text">
        <p>
            翻花绳，中国民间流传的儿童游戏。在中国不同的地域，有不同的称法，如线翻花、翻花鼓、挑绷绷、解股等等。
            这是一种利用绳子玩的玩意，只需灵巧的手指，就可翻转出许多的花样。
            在马来西亚，翻绳用的绳子一般是橡胶圈（橡皮筋，河南东南部就把该游戏称为”开胶“），国外的材料则有毛线、麻线、呢绒绳或棉纱绳等。
            用一根绳子结成绳套，一人以手指编成一种花样，另一人用手指接过来，翻成另一种花样，相互交替编翻，直到一方不能再编翻下去为止。
            这个游戏最大的乐趣在于翻出新花样，展现自己的聪明才智。
        </p>
    </div>
</div>
</body>
</html>