<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>骑马打仗</title>
    <style>
        .memory_box{
            background:#F1F0CD;
            margin:15px;
            padding:10px;
        }
        .memory_title{
            text-align:center;
            margin-bottom:20px;
        }
        .content_text{
            line-height:20px;
            font:24px 宋体;
            text-indent:2em;
        }
    </style>
</head>
<body>
<div class = "memory_box">
    <div class = "memory_title">
        <h1>骑马打仗，驾~驾~</h1>
    </div>
    <div class = "content_text">
        <p>
            一个人背着另一个人，被骑的就是马。主要在沙地上打，否则摔下来太疼。
            首先十几个孩子分成两拨，然后自愿组合，两人一组,一般比较高大的孩子当马，把另一个背起来,然后两拨人就上马开打，对冲。
            骑马的人可以用手拉扯对方，只要把人从马上拉下来或使对方连人带马一起摔到，对方这一对就得下场。直至对方一对都不剩。
            当马的孩子不准动手拉扯对方，但可以用身体去撞对方的马。
            做一匹好马是很要学习一些战术的：一般开始对冲的时候都是两三对一起冲到对方最厉害的一对面前，合力给他拉下来。
            但也不是太奏效，因为对方总会有别的人保护。所以大部分情况是比较厉害人和对方正面拉锯，不厉害的就想办法迂回到对方后面去偷袭。
            如果迂回的时候受阻被干掉也只好认倒霉了。
        </p>
    </div>
</div>
</body>
</html>