<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>弹珠</title>
    <style>
        .memory_box{
            background:#F1F0CD;
            margin:15px;
            padding:10px;
        }
        .memory_title{
            text-align:center;
            margin-bottom:20px;
        }
        .content_text{
            line-height:20px;
            font:24px 宋体;
            text-indent:2em;
        }
    </style>
</head>
<body>
<div class = "memory_box">
    <div class = "memory_title">
        <h1>你是赢了还是输光了弹珠？</h1>
    </div>
    <div class = "content_text">
        <p>
            弹珠的玩法有很多，在各种玩法中又有许多五花八门的规则。
            先在地上画一条线段，在远处的地上掏出一个或者几个洞，然后玩家们一次将弹珠从画线处弹出。
            当玩家依次将弹珠弹进所有洞后，这个弹珠就可以去撞其他的弹珠。
            如果撞到其他弹珠，此玩家获胜；被撞到的弹珠的持有者落败。有的地方就是以弹珠为赌注，每次一个。
            还有一条关键的规则就是如果弹珠进洞或者进完所有洞后撞到了其它弹珠，那么该玩家可以继续弹动弹珠一次。
        </p>
    </div>
</div>
</body>
</html>