<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老鹰抓小鸡</title>
    <style>
        .memory_box{
            background:#F1F0CD;
            margin:15px;
            padding:10px;
        }
        .memory_title{
            text-align:center;
            margin-bottom:20px;
        }
        .content_text{
            line-height:20px;
            font:24px 宋体;
            text-indent:2em;
        }
    </style>
</head>
<body>
<div class = "memory_box">
    <div class = "memory_title">
        <h1>抓不到，我逃~</h1>
    </div>
    <div class = "content_text">
        <p>
            老鹰捉小鸡是一种多人参加的益智娱乐游戏，在较大的空间内进行。这种游戏，对发展灵敏性和协调能力，培养合作意识有一定的促进作用。
            游戏方法：游戏开始时前先分角色，即一人当母鸡，一人当老鹰，其余的当小鸡。
            小鸡依次在母鸡后牵着衣襟排成一队，老鹰站在母鸡对面，做捉小鸡姿势。
            游戏开始时，老鹰叫着做赶鸡运作。母鸡身后的小鸡做惊恐状，母鸡极力保护身后的小鸡。
            老鹰再叫着转着圈去捉小鸡，众小鸡则在母鸡身后左躲右闪。
        </p>
    </div>
</div>
</body>
</html>