<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>斗脚</title>
    <style>
        .memory_box{
            background:#F1F0CD;
            margin:15px;
            padding:10px;
        }
        .memory_title{
            text-align:center;
            margin-bottom:20px;
        }
        .content_text{
            line-height:20px;
            font:24px 宋体;
            text-indent:2em;
        }
    </style>
</head>
<body>
<div class = "memory_box">
    <div class = "memory_title">
        <h1>我撞，我再撞</h1>
    </div>
    <div class = "content_text">
        <p>
            单脚站立，左脚弯曲，右手提着左脚的裤子，再一蹦一蹦地与对手相接，谁的脚落在地上，谁就输了。
        </p>
    </div>
</div>
</body>
</html>