<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>勤劳的养成</title>
    <style>
        .memory_box{
            background:#F1F0CD;
            margin:15px;
            padding:10px;
        }
        .memory_title{
            text-align:center;
            margin-bottom:20px;
        }
        .content_text{
            line-height:20px;
            font:24px 宋体;
            text-indent:2em;
        }
    </style>
</head>
<body>
<div class = "memory_box">
    <div class = "memory_title">
        <h1>勤劳的养成</h1>
    </div>
    <div class = "content_text">
        <p>
            在高中之前，我由爷爷奶奶带，父母在城市工作。奶奶干农活总会带上我，刚开始只是看看，后面就是让我做。砍柴、弄引火柴，挖菜坑，栽秧子，挑水，缝补等。
            若不是奶奶培养，我很可能不会搞饭菜、懒得搞卫生等。
        </p>
    </div>
</div>
</body>
</html>