<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>怀旧掌机</title>
    <style>
        .memory_box{
            background:#F1F0CD;
            margin:15px;
            padding:10px;
        }
        .memory_title{
            text-align:center;
            margin-bottom:20px;
        }
        .content_text{
            line-height:20px;
            font:24px 宋体;
            text-indent:2em;
        }
    </style>
</head>
<body>
<div class = "memory_box">
    <div class = "memory_title">
        <h1>俄罗斯方块</h1>
    </div>
    <div class = "content_text">
        <p>
            俄罗斯方块(Tetris， 俄文:Тетрис)是一款电视游戏机和掌上游戏机游戏，它由俄罗斯人阿列克谢·帕基特诺夫发明，故得此名。
            俄罗斯方块的基本规则是移动、旋转和摆放游戏自动输出的各种方块，使之排列成完整的一行或多行并且消除得分。
            2014年2月22日，英国心理学家发现，减肥者通过玩俄罗斯方块，可以降低对富含脂肪的食物和零食的心理需求;尝试戒烟者的烟瘾也能得到遏制。
        </p>
    </div>

    <div class = "memory_title">
        <h1>坦克大战</h1>
    </div>
    <div class = "content_text">
        <p>
            地方多辆坦克，自己发射的炮弹先打到敌方某坦克，则敌方该坦克消灭。
        </p>
    </div>

    <div class = "memory_title">
        <h1>贪吃蛇</h1>
    </div>
    <div class = "content_text">
        <p>
            吃的越多，蛇的身体越长，当头部碰到尾部则失败。
        </p>
    </div>

    <div class = "memory_title">
        <h1>射击和填补射击</h1>
    </div>
    <div class = "content_text">
        <p>
            射击，无脑左右扫射。而填补射击就有点难度了，跟俄罗斯方块差不多。
        </p>
    </div>
</div>
</body>
</html>