<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>抛石子</title>
    <style>
        .memory_box{
            background:#F1F0CD;
            margin:15px;
            padding:10px;
        }
        .memory_title{
            text-align:center;
            margin-bottom:20px;
        }
        .content_text{
            line-height:20px;
            font:24px 宋体;
            text-indent:2em;
        }
    </style>
</head>
<body>
<div class = "memory_box">
    <div class = "memory_title">
        <h1>抛石子游戏</h1>
    </div>
    <div class = "content_text">
        <p>
            抛石子游戏有五颗玩法、七颗玩法和十颗玩法。
            五颗玩法较为盛行：先把五颗石子撒下地，之后挑选一子作为抛子。
            子抛空中时，以抛子之手抓地上的其它石子。
            抓石子有九道程序：“抓一”、“抓二”、“抓三配四”、“抓五”、“背六”、“挖七、“跳楼”、“上楼”，全部完成为一轮。
        </p>
    </div>
</div>
</body>
</html>