<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>跳绳</title>
    <style>
        .memory_box{
            background:#F1F0CD;
            margin:15px;
            padding:10px;
        }
        .memory_title{
            text-align:center;
            margin-bottom:20px;
        }
        .content_text{
            line-height:20px;
            font:24px 宋体;
            text-indent:2em;
        }
    </style>
</head>
<body>
<div class = "memory_box">
    <div class = "memory_title">
        <h1>跳啊跳</h1>
    </div>
    <div class = "content_text">
        <p>
            跳绳，是一人或众人在一根环摆的绳中做各种跳跃动作的运动游戏。
            这种游戏唐朝称“透索”，宋称“跳索”，明称“跳百索”、“跳白索”、“跳马索”，清称“绳飞”，清末以后称作“跳绳”。
            作为一种古老的汉族民俗娱乐活动，南宋以来，每逢佳节都跳绳，家家户户都要比赛。
        </p>
    </div>
</div>
</body>
</html>