<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>伙食进阶</title>
    <style>
        .memory_box{
            background:#F1F0CD;
            margin:15px;
            padding:10px;
        }
        .memory_title{
            text-align:center;
            margin-bottom:20px;
        }
        .content_text{
            line-height:20px;
            font:24px 宋体;
            text-indent:2em;
        }
    </style>
</head>
<body>
<div class = "memory_box">
    <div class = "memory_title">
        <h1>伙食进阶</h1>
    </div>
    <div class = "content_text">
        <p>
            小学期间，没有食堂提供伙食，每个学生早上从家里带饭，到校就把各自的饭盒放到蒸笼，上完第四节课就去拿自己的饭盒。
            有一次，我拿到饭盒，打开发现不是我的菜。就想到可能因为其他人与我的饭盒一致，他人把我的拿了。
            可是根本不知道是谁拿错了，哭着向班主任求助。班主任陪着我等了一会儿，发现没有人汇报异常，就让我把拿到的这份先吃了。
        </p>
        <p>
            到了初中，有食堂提供伙食，家长可以提供稻谷、大米或现金。那时候第四节课下课一窝蜂地冲去食堂就餐，确实是因为太饿了，很早就得在家吃早饭然后走很远路去上学。
            食堂的菜没啥油水，吃不饱，等老师们吃完，去蹭下剩下的好菜。有时当时吃饱，但过了两小时又饿了。
            那时候学生分组洗碗筷，并不是吃完就不用管事了。
        </p>
        <p>
            高中时期，拿着家长给的生活费去食堂就餐，多点荤菜就多花点钱。食堂分了两个区：一个是大锅菜，一个是当场小炒。
            打大锅菜的话就节约时间，但味道好不到哪去，还有就是比如辣椒炒肉几乎没肉。
            要当场小炒就得等待更久，吃的确实比大锅菜好，花钱自然也要多点。
        </p>
        <p>
            憧憬的大学生涯，更具自由度，食堂分很多区，也可以点外卖，去餐馆等。
        </p>
        <p>从小学到大学，生活越来越好。就业后，比起大学时期，虽然有自己的收入，想吃啥就吃啥，但考虑成家立业，并不会追求吃得多好。</p>
    </div>
</div>
</body>
</html>