<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>打水漂</title>
    <style>
        .memory_box{
            background:#F1F0CD;
            margin:15px;
            padding:10px;
        }
        .memory_title{
            text-align:center;
            margin-bottom:20px;
        }
        .content_text{
            line-height:20px;
            font:24px 宋体;
            text-indent:2em;
        }
    </style>
</head>
<body>
<div class = "memory_box">
    <div class = "memory_title">
        <h1>你能让石片在水面弹跳几次？</h1>
    </div>
    <div class = "content_text">
        <p>
            “打水漂”游戏别名轻功水上漂、七点漂、漂瓦，是用扁型瓦片或石片，在手上呈水平放置后，用力飞出，
            石片擦水面飞行，石片碰水面后因惯力原理遇水面再弹起再飞，石片不断在水面上向前弹跳，直至惯力用尽后沉水，
            这游戏的规则：一是比漂飞出去的距离，二是比点击水面的次数。
        </p>
    </div>
</div>
</body>
</html>