<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>极品飞车14</title>
    <style>
        .memory_box{
            background:#F1F0CD;
            margin:15px;
            padding:10px;
        }
        .memory_title{
            text-align:center;
            margin-bottom:20px;
        }
        .content_text{
            line-height:20px;
            font:24px 宋体;
            text-indent:2em;
        }
    </style>
</head>
<body>
<div class = "memory_box">
    <div class = "memory_title">
        <h1>感受速度的力量</h1>
    </div>
    <div class = "content_text">
        <p>
            《极品飞车：热力追踪》（Need for Speed：Hot Pursuit）是由Criterion Games工作室负责开发，
            EA公司2010年底发行的一款竞速类游戏，也是新一代的热力追踪系列作品。
            《极品飞车：热力追踪3》背景设定在一个名叫海峰郡的城市，将回归到警察通缉模式，允许玩家进行全球网络对战，
            将再次回归名贵跑车，游戏过程将解锁新的跑车及武器和装备，允许玩家使用警车、以及全新的开放地图（仅限于试车）。
        </p>
    </div>
</div>
</body>
</html>