<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>捉迷藏</title>
    <style>
        .memory_box{
            background:#F1F0CD;
            margin:15px;
            padding:10px;
        }
        .memory_title{
            text-align:center;
            margin-bottom:20px;
        }
        .content_text{
            line-height:20px;
            font:24px 宋体;
            text-indent:2em;
        }
    </style>
</head>
<body>
<div class = "memory_box">
    <div class = "memory_title">
        <h1>找不到我，嘿嘿</h1>
    </div>
    <div class = "content_text">
        <p>
            捉迷藏是一种游戏，亦称摸瞎子。即蒙住眼睛寻找躲藏者的游戏。最早只是一种儿童游戏。
            2014年1月1日，吉尼斯总部认证官程东在四川彭州举行的“吉尼斯世界纪录——世界最大规模捉迷藏官方挑战赛”上现场进行认证，
            共有1437人有效参与活动，刷新了2012年2月10日卡塔尔多哈市卡塔拉文化村的斯坦德大学创造的1240人的捉迷藏参与人数最多世界纪录。
        </p>
    </div>
</div>
</body>
</html>