<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>放鞭炮</title>
    <style>
        .memory_box{
            background:#F1F0CD;
            margin:15px;
            padding:10px;
        }
        .memory_title{
            text-align:center;
            margin-bottom:20px;
        }
        .content_text{
            line-height:20px;
            font:24px 宋体;
            text-indent:2em;
        }
    </style>
</head>
<body>
<div class = "memory_box">
    <div class = "memory_title">
        <h1>啪~啪~啪~</h1>
    </div>
    <div class = "content_text">
        <p>
            小时候特别喜欢放鞭炮，尤其是那种爆得快的。把一封完整的爆竹拆开，一个个地放。
            有一次，一个爆竹刚点燃丢出去，刚离手就炸了，吓得不轻。
            年龄越大，胆子越小，如今根本不敢拿这种快燃型爆竹一个个燃放。
        </p>
        <p>
            如今考虑环保问题，城市已经几乎没放爆竹，农村虽然放得多，但过春节越来越没那么浓厚的年味了。
        </p>
    </div>
</div>
</body>
</html>