<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小霸王游戏机</title>
    <style>
        .memory_box{
            background:#F1F0CD;
            margin:15px;
            padding:10px;
        }
        .memory_title{
            text-align:center;
            margin-bottom:20px;
        }
        .content_text{
            line-height:20px;
            font:24px 宋体;
            text-indent:2em;
        }
    </style>
</head>
<body>
<div class = "memory_box">
    <div class = "memory_title">
        <h1>马里奥啊马里奥</h1>
    </div>
    <div class = "content_text">
        <p>
            益智游戏，较为广泛的流通。马里奥是站在游戏界顶峰的超人气多面角色。马里奥靠吃蘑菇成长，
            特征是大鼻子、头戴帽子、身穿背带工作服、还留着胡子。与他的双胞胎兄弟路易一起，长年担任任天堂的超级大牌角色。
            这款很经典的红白机游戏，唤起了大家儿时的快乐时光。
        </p>
    </div>
    <div class = "memory_title">
        <h1>30条命用不完？</h1>
    </div>
    <div class = "content_text">
        <p>
            《魂斗罗》(Contra)是由Konami于1987年推出的一系列卷轴射击类单机游戏。
            该游戏的故事背景是根据著名恐怖片《异形(Alien)》改编。
            1987年第一款魂斗罗诞生在名为Jamma的街机上。此外KONAMI于1989年还在日式计算机MSX2上推出了大型游戏机的同名移植版。
            FC上的两部魂斗罗影响了整整一代游戏玩家，在当时与《超级马里奥》齐名，几乎成为FC时代电子游戏的代名词。
        </p>
        <p>
            当时，很多人拿黑白电视机连接小霸王玩，黑白电视机容易烧掉。
        </p>
    </div>
</div>
</body>
</html>