<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>娱乐网站</title>
</head>
<body background="/static/images/星星背景_016.gif">
<div align="center">
    <h1 class="text" style="color:hotpink">欢迎来到本网站!</h1>
    <h2 class="text" style="color:hotpink">我们需要得知您的姓名、身份证号</h2>
    <a style="color:green;">姓名：</a><input id="ename_id" placeholder="请输入您的姓名" value="">
    <a style="color:green;">身份证号：</a><input id="user_id" placeholder="请输入您的身份证号" value="">
    <br>
    <button style="height:30px;width:100px;color:deeppink" onclick="judge_person()">开始娱乐</button>
    <p id="judge" style="color:yellow;font-family:华文行楷;font-size:22px;"></p>
</div>
<div align="center" style="float:bottom;">
    <p style="color:yellow;font-family:华文行楷;font-size:20px;">温馨提示：只有十八岁及以上人士才能进一步浏览娱乐网页。</p>
    <p style="color:yellow;font-family:'Times New Roman';font-size:20px;">copyright@Ferry</p>
</div>
<script>
    function judge_person(){
        var name = document.getElementById("ename_id").value;
        if(name == "刘杰高"){
            window.alert("抱歉，刘杰高无论如何也不能浏览本娱乐网站")
        }
        //获取输入的身份证号(输入框中默认字符串类型)
        var card_id = document.getElementById("user_id").value;
        //将字符串中每一个字符作为一个元素放到数组中
        var arr_card_id = card_id.split('');
        //身份证号中年份在七八九十位，将数组中相应的元素取出来拼接
        var arr_card_year = arr_card_id[6] + arr_card_id[7] + arr_card_id[8] + arr_card_id[9];
        //得到的年份转成整数
        var int_card_year = parseInt(arr_card_year);
        //获取当前时间，再获取完整的4位年份
        var current_time = new Date();
        var current_year = current_time.getFullYear();
        //用当前年份与身份证上年份相减得到的差值，用来判断是否成年
        var year_different = current_year - int_card_year;

        console.log("用户输入的原始身份证号信息为："+card_id);
        console.log("用户输入的原始身份证号信息的数据类型为："+typeof card_id);

        if(name == "" || card_id == ""){
            window.alert("您有信息未输入，请您全部输入完.")
        }
        if(card_id.length!=18){
            window.alert("您输入的身份证号不正确，请检查后重新输入。")
        }
        if(card_id.length == 18 && year_different>=18){
            window.location.href = "/amusement";
        }
        else if(year_different<18){
            document.getElementById("judge").innerHTML = "您还未成年，不能浏览本网站。不要灰心，我们会一直等到您成年。";
        }
    }
</script>
</body>
</html>
