<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>娱乐</title>
    <style>
        .advice{
            text-align:center;
            color:red;
            font:26px 楷体;
        }
        .bottom{
            text-align:center;
            background-color:orange;
        }
    </style>
</head>
<body background = '/static/images/星星背景_009.gif'>
<div class = "advice">
    <p>什么都没有哦</p>
</div>
<div class="bottom">
    <p>警告：xxx。请自律，谢谢！</p>
    <p>copyright@Ferry</p>
</div>
</body>
</html>