<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS_HTML DOM元素</title>
</head>
<body>
<div id="div1">
    <p id="p1">这是一个段落。</p>
    <p id="p2">这是另外一个段落。</p>
</div>

<div id="div2">
    <p id="p3">这是一个段落。</p>
    <p id="p4">这是另外一个段落。</p>
</div>
<script>
    var new_p_1 = document.createElement("p");
    var new_node_1 = document.createTextNode("结尾，这是一个新的文本");
    new_p_1.appendChild(new_node_1);
    //appendChild() 方法，它用于将添加新元素到尾部。
    document.getElementById("div1").appendChild(new_p_1);

    var new_p_2 = document.createElement("p");
    var new_node_2 = document.createTextNode("开头，这是一个新的段落");
    new_p_2.appendChild(new_node_2);

    //insertBefore() 方法，它用于将新元素添加到开头。
    document.getElementById("div1").insertBefore(new_p_2,document.getElementById("p1"));
    //要移除一个元素，你需要知道该元素的父元素
    var parent_ele = document.getElementById("div2");
    var child_ele = document.getElementById("p3");
    parent_ele.removeChild(child_ele);
</script>
</body>
</html>