<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS_window navigator</title>
</head>
<body>
<div id="example"></div>

<script>
    t = "<p>浏览器代号：" + window.navigator.appCodeName + "</p>";
    t += "<p>浏览器名称：" + window.navigator.appName + "</p>";
    t += "<p>浏览器版本：" + window.navigator.appVersion + "</p>";
    t += "<p>启用cookies：" + window.navigator.cookieEnabled + "</p>";
    t += "<p>硬件平台：" + window.navigator.platform + "</p>";
    t += "<p>用户代理：" + window.navigator.userAgent + "</p>";
    document.getElementById("example").innerHTML = t;
</script>
</body>
</html>