<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS中let和const</title>
</head>
<body>
<p id = "d1"></p>
<p>在第一个实例中，使用 let 关键字， 它声明的变量作用域只在循环体内，循环体外的变量不受影响。</p>
<p id = "d2"></p>
<p>在第二个实例中，使用了 var 关键字，它声明的变量是全局的，包括循环体内与循环体外。</p>
<p id = "d3"></p>
<script>
    var i = 5,a = 10;
    for(let i = 0;i < 10;i++){
        document.write(i);
    }
    document.getElementById("d1").innerHTML = i;

    for(a = 0;a < 20;a++){

    }
    document.getElementById("d2").innerHTML = a;

    //const 用于声明一个或多个常量，声明时必须进行初始化，且初始化后值不可再修改：
    try{
        const p = 3.141592654;
        p = 3.14;
    }
    catch(err){
        document.getElementById("d3").innerHTML = err;
    }
</script>
</body>
</html>