<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS中的JSON</title>
</head>
<body>
<p id = "d"></p>
<script>
    var net_text = '{ "sites" : [' +
	'{ "name":"Runoob" , "url":"www.runoob.com" },' +
	'{ "name":"Google" , "url":"www.google.com" },' +
	'{ "name":"Taobao" , "url":"www.taobao.com" } ]}';
    var x = JSON.parse(net_text);//JSON.parse() 方法用于将一个 JSON 字符串转换为对象。
    document.getElementById("d").innerHTML = x.sites[1].name + " " + x.sites[1].url;
</script>
</body>
</html>