<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS改变图标背景颜色</title>
    <style>
        .rd,img{
            background-color: orange;
            text-align:center;
            margin:0 auto;
        }
        .active_slide{
            background-color: red;
        }
    </style>
</head>
<body>
<div class = "rd">
    <p id = "1" class = "">你好</p>
    <img src = "http://127.0.0.1:8000/static/images/星星背景_023.jpg">
</div>
</body>
<script>
    setTimeout(function (){
        document.getElementById("1").className = "active_slide";
    },1000);
</script>
</html>