<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS条件语句</title>
</head>
<body>
<script>
    var current_time = new Date();
    var current_hour = current_time.getHours();
    if(current_hour > 5 && current_hour < 12){
        document.write("上午好");
    }
    else if(current_hour == 12){
        document.write("中午好");
    }
    else if(current_hour > 12 && current_hour < 19){
        document.write("下午好");
    }
    else{
        document.write("晚上好");
    }
</script>
</body>
</html>