<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS的错误</title>
</head>
<body>
<button onclick = "mes()">点击</button>
<br>
<input id = "demo">
<button onclick = "my_fun()">点击</button>
<p id = "m"></p>
<script>
    var t = "";
    function mes(){
        try{
            a("欢迎");
        }
        catch(err){
            t = t + "错误描述：" + err.message + "\n";
            t = t + "点击确定继续\n";
            alert(t);
        }
    }

    function my_fun() {
        var x;
        x = document.getElementById("demo").value;
        try{
            if(x == ""){
                throw "输入为空";//throw 语句允许我们创建自定义错误
            }
            if(isNaN(x)){
                throw "输入的不是数字";
            }
            if(x > 10){
                throw "比较大";
            }
            if(x<5){
                throw "比较小";
            }
        }
        catch(err){
            document.getElementById("m").innerHTML = "错误描述：" + err;
        }
        finally{
            document.getElementById("demo").value = "";
        }
    }
</script>
</body>
</html>