<!DOCTYPE html>
<html>
<head>
<meta charset="gb2312">
<title>scrollTo() 方法可把内容滚动到指定的坐标</title>
<script>
function scrollWindow(){
    window.scrollTo(100,500);
}
</script>
</head>
<body>
<input type="button" onclick="scrollWindow()" value="滚动条"/>
<p>滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动滚动</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>滚动滚动滚动滚动滚动滚动滚动滚动</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>滚动滚动滚动滚动滚动滚动滚动滚动</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>滚动滚动滚动滚动滚动滚动滚动滚动</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>滚动滚动滚动滚动滚动滚动滚动滚动</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>滚动滚动滚动滚动滚动滚动滚动滚动</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>滚动滚动滚动滚动滚动滚动滚动滚动</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>滚动滚动滚动滚动滚动滚动滚动滚动</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>
