<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS验证API</title>
</head>
<body>
<p>输入数字后点击验证</p>
<p>如果数字小于100或者大于300，都会提示错误信息</p>
<input id = "d" type = "number" min = "100" max = "300" required = "required">
<button onclick = "judge_api()">验证</button>
<p id = "mes"></p>
</body>
<script>
    function judge_api(){
        var number_in = document.getElementById("d");
        //checkValidity( )：input元素中的数据合法返回true，反之返false
        number_in.setCustomValidity("");//使用前先取消自定义，否则下次点击按钮，无论数据合不合理，都是返false
        if(number_in.checkValidity() == false){
            //setCustomValidity( )：设置validationMessage属性值，用于自定义提示。
            //当没有用到setCustomValidity()，则是按浏览器的提示信息
            number_in.setCustomValidity("输入的数字不在合理范围");
            document.getElementById("mes").innerHTML = number_in.validationMessage;
        }
        else{
            number_in.setCustomValidity("输入合理");
            document.getElementById("mes").innerHTML = number_in.validationMessage;
            //document.getElementById("mes").innerHTML = "输入正确";
        }
    }
</script>
</html>