<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生日祝福</title>
</head>
<body background="/static/images/星星背景_009.gif">
<div style="text-align:center;">
    <p>
        <img src="/static/images/00.gif">
    </p>
    <p>
        <img src="/static/images/14.gif">
    </p>
    <p style="color:yellow;font-size:26px;font-family:华文行楷;">希望我是第一个给你送生日祝福的人</p>
    <p>
        <img src="/static/images/15.gif">
    </p>
    <p>
        <img src="/static/images/01.gif">
    </p>
    <p style="color:yellow;font-size:26px;font-family:华文行楷;">在你生日来临之际，</p>
    <p style="color:lightskyblue;font-size:26px;font-family:华文行楷;">我将快乐的音符，</p>
    <p style="color:yellow;font-size:26px;font-family:华文行楷;">作为生日礼物送给你，</p>
    <p style="color:red;font-size:26px;font-family:华文行楷;">愿你拥有365个美好的日子。</p>
    <p>
        <img src="/static/images/17.gif">
    </p>
    <p style="color:mediumpurple;font-size:26px;font-family:华文行楷;">因为你的降临，</p>
    <p style="color:mediumorchid;font-size:26px;font-family:华文行楷;">这一天成了一个美丽的日子，</p>
    <p style="color:salmon;font-size:26px;font-family:华文行楷;">从此世界，</p>
    <p style="color:deeppink;font-size:26px;font-family:华文行楷;">便多了一抹瑰丽的色彩！</p>
    <p>
        <img src="/static/images/03.gif">
    </p>
    <p style="color:orangered;font-size:26px;font-family:华文行楷;">留不住的是时间，</p>
    <p style="color:orange;font-size:26px;font-family:华文行楷;">斩不断的是祝福。</p>
    <p style="color:lightpink;font-size:26px;font-family:华文行楷;">希望你拥有一个甜蜜温馨、快快乐乐的生日！</p>
    <p>
        <a style="color:red;font-size:26px;font-family:华文行楷;">祝</a>
        <a style="color:mediumpurple;font-size:26px;font-family:华文行楷;">你</a>
        <a style="color:lightskyblue;font-size:26px;font-family:华文行楷;">愿</a>
        <a style="color:limegreen;font-size:26px;font-family:华文行楷;">望</a>
        <a style="color:lightcoral;font-size:26px;font-family:华文行楷;">成</a>
        <a style="color:hotpink;font-size:26px;font-family:华文行楷;">真</a>
    </p>
    <p>
        <img src="/static/images/12.gif">
    </p>
    <p>
        <img src="/static/images/16.gif">
    </p>
    <audio autoplay="autoplay" controls>
        <source src="/static/images/生日快乐.mp3">
    </audio>
    <p>
        <a style="color:red;font-size:26px;font-family:华文行楷;">最</a>
        <a style="color:mediumpurple;font-size:26px;font-family:华文行楷;">特</a>
        <a style="color:lightskyblue;font-size:26px;font-family:华文行楷;">别</a>
        <a style="color:limegreen;font-size:26px;font-family:华文行楷;">的</a>
        <a style="color:orange;font-size:26px;font-family:华文行楷;">生</a>
        <a style="color:orangered;font-size:26px;font-family:华文行楷;">日</a>
        <a style="color:lightcoral;font-size:26px;font-family:华文行楷;">祝</a>
        <a style="color:hotpink;font-size:26px;font-family:华文行楷;">福</a>
    </p>
    <p style="color:orange;font-size:24px;font-family:'Times New Roman';">By:Ferry</p>
    <p>
        <img src="/static/images/13.gif">
    </p>
</div>
</body>
</html>