<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue_表单</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div id = "app">
    <h3>单个复选框</h3>
    <input id="checkbox" type="checkbox" v-model="checked">
    <label>{{checked}}</label>
    <h3>多个复选框</h3>
    <input type="checkbox" id="runoob" value="runoob" v-model="checkedOption">
    <label for="runoob">菜鸟</label>
    <input type="checkbox" id="baidu" value="baidu" v-model="checkedOption">
    <label for="baidu">百度</label>
    <input type="checkbox" id="google" value="google" v-model="checkedOption">
    <label for="google">谷歌</label>
    <br>
    <span>选择的值为：{{checkedOption}}</span>
</div>

<script>
    new Vue({
        el:'#app',
        data:{
            checked:false,
            checkedOption:[]
        }
    })
</script>
</body>
</html>