<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue_模板语法之表达式</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <style>
        .say{
            color:red;
        }
    </style>
</head>
<body>
<div id = "app">
    <p>{{5+5}}</p>
    <p>{{ch_name.split("").reverse().join("")}}</p>
    <p>{{situation?"yes":"no"}}</p>
    <p v-bind:id="my_id" v-bind:class="{say:use}">菜鸟教程</p>
</div>
<script type = "text/javascript">
    new Vue({
        el:'#app',
        data:{
            ch_name:'ferry',
            situation:true,
            my_id:1,
            use:true
        }
    })
</script>
</body>
</html>