<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue_自定义指令</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div id = "app2">
    <p>实现当载入页面时，就自动聚焦在input元素</p>
    <input v-focus>
</div>

<script>
    //创建根实例
    new Vue({
        el:'#app2',
        directives:{
            // 注册一个局部的自定义指令 v-focus
            focus:{
                // 指令的定义
                inserted:function(el){
                    // 聚焦元素
                    el.focus()
                }
            }
        }
    })
</script>
</body>
</html>