<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue_模板语法</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <style>
        .class1{
            color:red;
        }
    </style>
</head>
<body>

<div id = "app">
    <label for = "r1">修改颜色</label><input type = "checkbox" v-model = "use" id = "r1">
    <br>
    <div v-bind:class = "{class1:use}">
        v-bind:class指令
    </div>
</div>

<script type = "text/javascript">
    new Vue({
        el:'#app',
        data:{
            use:false
        }
    })
</script>
</body>
</html>