<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue_模板语法之v-html</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div id = "app">
    <!--使用 v-html 指令用于输出 html 代码：-->
    <div v-html="message"></div>
</div>
<script>
    new Vue({
        el:"#app",
        data:{
            "message":"<h1>菜鸟教程</h1>" +
            "<h2>前端</h2>" +
            "<h3>VUE</h3>"
        }
    })
</script>
</body>
</html>