<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="msg">
    <p>{{msg | capitalize_mine}}</p>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    //自定义全局过滤器
    Vue.filter("capitalize_mine",function (v) {
        if(!v){
            return ""
        }
        v = v.toString();
        //charAt() 方法用于返回指定索引处的字符。索引范围为从 0 到 length() - 1
        //slice(start, end) 方法可提取字符串的某个部分，并以新的字符串返回被提取的部分。左闭右开
        return v.charAt(0).toUpperCase() + v.slice(1);
    });
    var vm = new Vue({
        el: "#app",
        data: {
            msg: "hello"
        }
    });

</script>
</body>
</html>