<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue_模板语法之v-if</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div id = "app">
    <!--v-if 指令将根据表达式 seen 的值(true 或 false )来决定是否插入元素。-->
    <p v-if = "seen">你看到我了</p>
    <div v-if = "show">
        <p>学的不仅是技术，更是梦想！</p>
        <p>哈哈哈，打字辛苦啊！！！</p>
    </div>
    <!--在这里 href 是参数，告知 v-bind 指令将该元素的 href 属性与表达式 url 的值绑定。-->
    <a v-bind:href = "url">菜鸟教程</a>
</div>

<script type = "text/javascript">
    new Vue({
        el:"#app",
        data:{
            seen:true,
            show:false,
            url:'http://www.runoob.com'
        }
    })
</script>
</body>
</html>