<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>告白</title>
</head>
<body background="/static/images/星星背景_019.gif">
<div style="text-align:center;">
    <p style="font-size:28px;font-family:华文行楷;color:hotpink;">小姐姐，我关注你很久了</p>
    <p style="font-size:28px;font-family:华文行楷;color:hotpink;">我可以住进你心里吗？</p>
    <p>
        <img id="display_photo" style="width:255px;height:255px;" src="/static/images/比心.png">
    </p>
    <div class="button">
        <button style="background-color:green;color:white;width:100px;height:50px;" class="left" id="keyi" onclick="confirm_ok()">可以</button>
        <button style="background-color:red;color:white;width:100px;height:50px;" class="right" id="buhao" onclick="confirm_no()">不好</button>
    </div>
    <p style="color:deeppink;font-size:24px;font-family:华文行楷;" id="show_happy"></p>
</div>
</body>
<script>
    function confirm_ok(){
        document.getElementById("show_happy").innerHTML = "哈哈，那我们在一起吧！";
        document.getElementById("display_photo").src="/static/images/牵手.jpeg";
        var s = "对方确认喜欢";
        console.log(s);
    }
    function confirm_no(){
        window.alert("我愿意永远守护你，再考虑一下呗");
        var s = "对方确认拒绝";
        console.log(s);
    }
</script>
</html>