<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>react组件组合使用_初始化显示</title>
    <script src = "https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
    <script src = "https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src = "https://cdn.bootcss.com/prop-types/15.6.1/prop-types.js"></script>
    <script src = "https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
</head>
<body>
<div id = "example"></div>

<script type = "text/babel">
    /*
    数据保存在哪个组件？
    看数据是某个组件需要（给它），还是某些组件需要（给共同的父组件）
    此例子，新增的数据既是Add组件需要（需要把数据往列表塞），也是List组件需要（需要读这数据）
    */
    //最外围的组件
    class App extends React.Component{
        constructor(props){
            super(props);
            //初始化状态
            this.state = {
                todos:['吃饭','睡觉','敲代码']
            }
        }
        render(){
            return(
                <div>
                    <h1>示例</h1>
                    <Add />
                    <List ts = {this.state.todos}/>
                </div>
            )
        }
    }
    //Add组件
    class Add extends React.Component{
        render(){
            return(
                <div>
                    <input type = "text"/>
                    <button>add #4</button>
                </div>
            )
        }
    }
    //List组件
    class List extends React.Component{
        render(){
            return(
                <ul>
                    {
                        //由于ts是数据的数组，我要的是标签的数组，故用到数组的map方法
                        //map() 方法返回一个新数组，数组中的元素为原始数组元素调用函数处理后的值。
                        this.props.ts.map((todo,index) => <li key = {index}>{todo}</li>)
                    }
                </ul>
            )
        }
    }
    //指定属性值的类型和必要性
    List.propTypes = {
        ts:PropTypes.array.isRequired,
    };
    //渲染组件
    ReactDOM.render(<App/>,document.getElementById("example"));
</script>
</body>
</html>