<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>展示/隐藏</title>
    <style>
        li{
            display:inline;
            /*带下划线*/
        }
        span{
            display:block;
            /*用block则会让块元素换行，不使用block则不会换行*/
        }
        button.confirm{
            display:none;
            /*display:none可以隐藏某个元素，且隐藏的元素不会占用任何空间。也就是说，该元素不但被隐藏了，而且该元素原本占用的空间也会从页面布局中消失。*/
        }
        button.understand{
            visibility:hidden;
            /*visibility:hidden可以隐藏某个元素，但隐藏的元素仍需占用与未隐藏之前一样的空间。也就是说，该元素虽然被隐藏了，但仍然会影响布局。*/
        }
    </style>
</head>
<body>
<p>ul标签用来表示一个或多个元素的无序列表或项目符号列表。</p>
<ul>
    <li><a href = "http://www.baidu.com">百度</a></li>
    <li><a href = "http://www.bilibili.com">B站</a></li>
</ul>
<h2>杰的介绍</h2>
<span>姓名：刘杰高</span>
<span>年龄：25岁</span>
<h2>华的介绍</h2>
<span>姓名：舒中华</span>
<span>年龄：24岁</span>
<button class = "confirm">好的</button>
<button class = "understand">明白</button>
</body>
</html>