<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML的label标签</title>
</head>
<body>
<label>喜好的颜色</label>
<br>
<!--对于单选按钮，type的属性值总是"radio"-->
<!--for 属性规定 label 与哪个表单元素绑定。-->
如果color传值过来是yellow，喜好的颜色就是Yellow;如果color传值过来是green，喜好的颜色就是Green
<input type = "radio" id = "yellow" name = "color" value = "yellow">
<label for = "yellow">Yellow</label>
<br>

<input type = "radio" id = "green" name = "color" value = "green">
<label for = "green">Green</label>
<br>
</body>
</html>