<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>对齐</title>
    <style>
        .center{
            text-align:center;/*文本居中对齐，没有这行代码，则只会上下居中*/
            width:60%;
            margin:0 auto;
            padding:5px;
            border:5px solid red;
        }
        .photo{
            text-align:center;
            margin:0 auto;
        }
    </style>
</head>
<body>
<div class = "center">
    <!--b标签中内容为粗体文本-->
    <p><b>说明：</b>此段落居中对齐</p>
</div>
<div class = "photo">
    <img src = "http://127.0.0.1:8000/static/images/初中毕业照.jpeg">
</div>
</body>
</html>