<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组合选择符</title>
    <style>
        /*后代选择器用于选取某元素的后代元素。以下实例选取所有 <p> 元素插入到 <div> 元素中。例如：div下有个span，span下有个p，用div p是有效的，因为p是div的后代（孙子）*/
        /*div p{*/
            /*background-color: orange;*/
        /*}*/
        /*与后代选择器相比，子元素选择器（Child selectors）只能选择作为某元素子元素的元素，必须是父子关系。例如p作为span的子元素 而不是作为div的子元素，则用div>p是无效的*/
        /*div>p{*/
            /*background-color: red;*/
        /*}*/
        /*相邻兄弟选择器（Adjacent sibling selector）可选择紧接在另一元素后的元素，且二者有相同父元素。比如div后的第二个p，就不会有效果*/
        /*div+p{*/
            /*background-color: red;*/
        /*}*/
        /*后续兄弟选择器选取指定元素之后的所有相邻兄弟元素。比如这里就是div之后的所有相邻兄弟元素，两个p都会有效果*/
        div~p{
            background-color: red;
        }
    </style>
</head>
<body>
<!--<div>-->
    <!--<p>段落1，背景颜色为黄色</p>-->
    <!--<p>段落2，背景颜色为黄色</p>-->
<!--</div>-->
<!--<p>段落3，背景颜色为默认的黑色</p>-->

<!--<div>-->
    <!--<p>apple</p>-->
<!--</div>-->
<!--<div>-->
    <!--<span>-->
        <!--<p>电话</p>-->
        <!--<p>微信</p>-->
    <!--</span>-->
<!--</div>-->

<!--<div>-->
    <!--<h2>标题</h2>-->
<!--</div>-->
<!--<p>div之后的第1个元素，背景颜色变化</p>-->
<!--<p>div之后的第2个元素，背景颜色不变</p>-->

<div>
    <p>背景颜色不变</p>
</div>
<p>1,背景颜色变化</p>
<p>2,背景颜色变化</p>
</body>
</html>