<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>属性和值选择器</title>
    <style>
        /*把包含title的所有元素都设红色边框*/
        /*[title]{*/
            /*border:5px solid red;*/
        /*}*/
        /*仅仅把title = "welcome_baidu"的元素设红色边框*/
        [title = "welcome_baidu"]{
            border:5px solid red;
        }
    </style>
</head>
<body>
<h1>以下将会应用边框红色实线</h1>
<h2 title = "welcome_baidu">欢迎来到百度</h2>
<a href = "http://www.baidu.com" target = "_blank">百度</a>
<hr>
<h1>以下不会应用边框红色实线</h1>
<h2 title = "welcome_b">欢迎来到B站</h2>
<a href = "http://www.bilibili.com" target = "_blank">B站</a>
</body>
</html>