<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>填充</title>
    <style>
        p{
            background-color: orange;
        }
        p.one{
            padding-top:25px;
            padding-bottom:25px;
            padding-left:50px;
            padding-right:50px;
            /*其他写法，按上、右、下、左的顺序*/
            /*padding:25px 50px 25px 50px;*/
            /*其他写法，上、左右、下*/
            /*padding:25px 50px 30px;*/
            /*其他写法，上下、左右*/
            /*padding:25px 50px;*/
        }
    </style>
</head>
<body>
<p>此段落没有填充</p>
<p class = "one">此段落设置了上下左右填充边距，内边距</p>
</body>
</html>