<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS的list-style</title>
    <style>
        ul.circle{
            list-style:circle inside;
        }
        ul.square{
            list-style:square inside;
        }
        ul.upper-roman{
            list-style:upper-roman outside;
        }
    </style>
</head>
<body>
<p>circle类型</p>
<ul class = "circle">
    <li>咖啡</li>
    <li>奶茶</li>
</ul>
<p>square类型</p>
<ul class = "square">
    <li>咖啡</li>
    <li>奶茶</li>
</ul>
<p>upper-roman类型</p>
<ul class = "upper-roman">
    <li>咖啡</li>
    <li>奶茶</li>
</ul>
</body>
</html>