<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>尺寸</title>
    <style>
        .small{
            line-height:70%;
            max-width:20%;
            color:mediumspringgreen;
        }
        .big{
            line-height:200%;
            min-width:50px;
            color:red;
        }
    </style>
</head>
<body>
<p class = "small">
    苹果，这个段落最大宽度为20%<br>
    香蕉，这个段落最大宽度为20%<br>
    哈密瓜，这个段落最大宽度为20%<br>
</p>
<p class = "big">
    烟花，这个段落最小宽度为50个像素<br>
    鞭炮，这个段落最小宽度为50个像素<br>
    擦炮，这个段落最小宽度为50个像素<br>
</p>
</body>
</html>