<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分组和嵌套</title>
    <style>
        h1,h2{
            color:blueviolet;
        }
        .one a{
            color:mediumspringgreen;
        }
        .two{
            color:red;
        }
        a{
            color:deeppink;
        }
    </style>
</head>
<body>
<h1>标题1</h1>
<h2>标题2</h2>
<div class = "one">
    <a>这个变</a>
    <p>这个不变</p>
</div>
<p class = "two">段落1变</p>
<p>段落2不变</p>
<a>变1</a>
<a>变2</a>
</body>
</html>