<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>边距</title>
    <style>
        p{
            background-color:orangered;
        }
        p.one{
            margin-top:200px;
            margin-bottom:200px;
            margin-left:80px;
            margin-right:80px;
            /*其他写法，按照上右下左的顺序*/
            /*margin:200px 80px 200px 80px;*/
            /*其他写法，写出上、左右、下*/
            /*margin:200px 80px 200px;*/
            /*其他写法，写出上下、左右*/
            /*margin:200px 80px;*/
        }
    </style>
</head>
<body>
<p>此段落没有设置边距</p>
<p class = "one">此段落设置了上下左右边距</p>
</body>
</html>