<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS_Math对象</title>
</head>
<body>
<script>
    var x1 = Math.PI;
    document.write(x1);
    //算术平方根
    var x2 = Math.sqrt(16);
    document.write(x2);
    //四舍五入
    var x3 = Math.round(2.4);
    document.write(x3);
    //随机数   [0,1)
    var x4 = Math.random();
    document.write(x4);
    /*
    ceil(x) 向上取整
    floor(x)    向下取整
     */
    //[1,10]的整数
    var x5 = Math.ceil(Math.random() * 10);
    document.write(x5);
    //[1,9]的整数
    var x6 = Math.floor(Math.random() * 10);
    document.write(x6);
    //四舍五入，则[0,10]
    var x7 = Math.round(Math.random() * 10);
    document.write(x7);

    //给定数中的最大值
    var x8 = Math.max(2,2.1,1.99);
    document.write(x8);
    //给定数中的最小值
    var x9 = Math.min(2,2.1,1.99);
    document.write(x9);
</script>
</body>
</html>