<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS函数</title>
</head>
<body>
<button onclick = "calculate()">计算乘积</button>
<p id = "yes"></p>
<button onclick = "no_calculate()">不会计算乘积</button>
<p id = "no"></p>
<button onclick = "local()">局部变量</button>
<p id = "show_local"></p>
<button onclick = "overall()">全局变量</button>
<p id = "show_overall"></p>
<button onclick = "overall_2()">全局变量2</button>
<p id = "show_overall_2"></p>
<script>
    function calculate(a,b){
        return a * b;
    }
    document.getElementById("yes").innerHTML = calculate(2,3);

    function no_calculate(a,b){
        if(a > b){
            return;
        }
        var x = a + b;
    }
    document.getElementById("no").innerHTML = no_calculate(2,3);

    function local(){
        var x1 = 1;//x1既在函数内，又用var声明了，故为局部变量，只能在此函数内部访问
        x2 = 2;//虽然x2在函数内，但没有使用var声明，可配置全局属性
        console.log(this.x1);
        document.getElementById("show_local").innerHTML = x1;
    }

    function overall(){
        document.getElementById("show_overall").innerHTML = x2;//x2在其他函数中，但没有用var声明，此处使用x2则具有全局属性
    }

    var say = "孙悟空";//虽然用了var声明，但它是在函数外，为全局变量

    function overall_2(){
        document.getElementById("show_overall_2").innerHTML = say;
    }
</script>
</body>
</html>