<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS数据类型</title>
</head>
<body>
<p id = "d"></p>
<p id = "demo"></p>
<button onclick = "show()">点击</button>
<script>
    function show(){
        var ch_name = new String;
        var age = new Number;
        var hunyin = new Boolean;
        var car = new Array;
        var person = new Object;
        ch_name = "杰";//字符串
        age = 25;//数字
        hunyin = false;//布尔
        car = ["奔驰","丰田"];//数组
        car[2] = "本田";
        car[3] = "日产";
        person = {
            firstname:"刘",
            lastname:"杰高",
            id:116,
            fullname:function(){
                return this.firstname + this.lastname;
            }};
        document.getElementById("d").innerHTML = ch_name + "," + age + "岁" + ",车辆为" + car + "，婚姻：" + hunyin;
        document.getElementById("demo").innerHTML = person.fullname();
    }
</script>
</body>
</html>