<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS比较和逻辑运算符</title>
</head>
<body>
年龄：<input type = "number" id = "age">
<p>是否达到投票年龄</p>
<button onclick = "judge_age()">点击</button>
<p id = "show_result"></p>
<script>
    function judge_age(){
        var age,result;
        age = document.getElementById("age").value;
        result = (age<18)?"未达到":"已达到";//基于某些条件对变量进行赋值的条件运算符
        console.log(age);
        document.getElementById("show_result").innerHTML = result;
        if(age == 18){
            window.alert("您刚好达到要求");
        }
        if(age <= 0 || age >=150){
            window.alert("您输入的年龄不在正常范围")
        }
    }
</script>
</body>
</html>