<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS的类型转换</title>
</head>
<body>
<p>String()方法和toString()方法都能将数字转换成字符串</p>
<p id = "d1"></p>
<p id = "d2"></p>
<p id = "d3"></p>
<script>
    var x = 123,day = "2020-01-19";
    document.write(typeof(x));
    y = String(x);//转成字符串第一种方式，用String()
    z = x.toString();//转成字符串第二种方式，用字面量.toString()

    day_s = day.toString();
    document.getElementById("d1").innerHTML = y;
    console.log(typeof y);
    document.getElementById("d2").innerHTML = z;
    console.log(typeof z);
    document.getElementById("d3").innerHTML = day_s;
    console.log(typeof day_s);
</script>
</body>
</html>