<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS的for in</title>
</head>
<body>
<button onclick = "show_object()">点击</button>
<p id = "d"></p>
<p id = "out_type"></p>
<script>
    function show_object() {
        var x;
        var t = "";
        var person = {firstname:"ferry ",lastname:"luo"};
        //JavaScript中for/in 语句循环遍历对象的属性
        for(x in person){
            t = t + person[x];
        }
        document.getElementById("d").innerHTML = t;
        document.getElementById("out_type").innerHTML = typeof(x);
    }
</script>
</body>
</html>