<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS的while循环</title>
</head>
<body>
<button onclick = "show_number()">点击</button>
<p id = "d"></p>
<button onclick = "show_number_1()">再点击</button>
<p id = "demo"></p>
<script>
    function show_number(){
        var x = "",i = 1;
        while(i <= 5){
            x = x + "第" + i + "个数为" + i + "<br>";
            i++;
        }
        document.getElementById("d").innerHTML = x;
    }

    function  show_number_1(){
        var x = "",i = 1;
        do{
            x = x + "第" + i + "个正整数为" + i + "<br>";
            i++;
        }
        while(i <= 5);
        document.getElementById("demo").innerHTML = x;
    }
</script>
</body>
</html>