<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>react组件收集表单数据</title>
    <script src = "https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
    <script src = "https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src = "https://cdn.bootcss.com/prop-types/15.6.1/prop-types.js"></script>
    <script src = "https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
</head>
<body>
<div id = "example"></div>
<script type = "text/babel">
    //react的思想是尽量少操作DOM，希望用state。也就是多用受控组件，少用非受控组件

    class LoginForm extends React.Component{
        constructor(props){
            super(props);
            //初始化状态
            this.state = {
                password:''
            };
            this.handleSubmit = this.handleSubmit.bind(this);
            this.handleChange = this.handleChange.bind(this);
        }
        handleSubmit(event){
            //const user_name = this.in.value 等价于const {value} = this.in    由于value名字不太好，所以写成const user_name = this.in.value
            const user_name = this.in.value;
            const {password} = this.state;
            alert(`准备提交的用户名为${user_name},密码为${password}`);
            //阻止时间的默认行为。这里默认行为是提交
            event.preventDefault();
        }
        handleChange(event){
            //读取输入的值
            const password = event.target.value;  //操作当前元素，当然用event，而不用this
            //更新pwd的状态
            this.setState({password});
        }
        render(){
            return(
                    <form action = "/test" onSubmit = {this.handleSubmit}>
                        用户名：<input type = "text" ref = {(xx) => this.in = xx}/>
                        密码：<input type = "password" value = {this.state.password} onChange = {this.handleChange}/>
                        <input type = "submit" value = "登录"/>
                    </form>
            )
        }
    }

    ReactDOM.render(<LoginForm/>,document.getElementById("example"))
</script>
</body>
</html>