<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>react组件属性_props</title>
    <script src = "https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
    <script src = "https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdn.bootcss.com/prop-types/15.6.1/prop-types.js"></script>
    <script src = "https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
</head>
<body>
<div id = "example1"></div>
<div id = "example2"></div>

<script type = "text/babel">
//    需求：自定义用来显示人员信息的组件
//    如果性别没有指定，默认为男
//    如果年龄没有指定，默认为18
    //1.定义组件
    function Person(props){
        return (
                <ul>
                    <li>姓名：{props.ch_name}</li>
                    <li>年龄：{props.age}</li>
                    <li>性别：{props.sex}</li>
                </ul>
        )
    }
    /*
    class Person extends React.Component{
        console.log(this);
        render(){
            return (
                <ul>
                    <li>姓名：{this.props.ch_name}</li>
                    <li>年龄：{this.props.age}</li>
                    <li>性别：{this.props.sex}</li>
                </ul>
            )
        }
    }
    */
    //指定属性默认值
    Person.defaultProps = {
        age:18,
        sex:'男'
    };
    //指定属性值的类型和必要性
    Person.propTypes = {
        Name:PropTypes.string.isRequired,
        Age:PropTypes.numbers
    };

    //2.渲染组件标签
    const p1 = {
        Name:'tom',
        Age:18,
        Sex:'女'
    };

    /*
    ...的作用
    1.打包
    2.解包
    const arr1 = [1,2,3]    const arr2 = [6,...arr1,9]
     */

    //ReactDOM.render(<Person ch_name = {p1.Name} age = {p1.Age} sex = {p1.Sex}/>,document.getElementById("example1"));
    ReactDOM.render(<Person {...p1}/>,document.getElementById("example1"));
    const p2 = {
        Name:'jack'
    };
    ReactDOM.render(<Person ch_name = {p2.Name} age = {20}/>,document.getElementById("example2"));
</script>
</body>
</html>