<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>react组件属性_state</title>
    <script src = "https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
    <script src = "https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src = "https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
</head>
<body>
<div id = "example"></div>

<script type = "text/babel">
    //1.定义组件
    class Like extends React.Component{
        constructor(props){
            //调用父类Component的构造函数
            super(props);
            //初始化状态
            this.state = {
                is_like_me:false
            };

            //将新添加方法中的this强制绑定为组件对象
            this.handleClick = this.handleClick.bind(this);
        }
        //新添加方法，其内部的this默认不是组件对象，而是undefined
        handleClick(){
            console.log('handleClick方法',this);
            //得到状态并取反
            const x = !this.state.is_like_me;
            //更新状态，为以前的状态取反。取反是要先得到以前的状态再用取反运算符
            this.setState({is_like_me:x});
        }

        render(){
            //读取状态
            const IsLikeMe = this.state.is_like_me;
            return <h2 onClick = {this.handleClick}>{IsLikeMe?'你喜欢我':'我喜欢你'}</h2>;
        }
    }

    //2.渲染组件标签
    ReactDOM.render(<Like/>,document.getElementById("example"));
</script>
</body>
</html>