<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>refs和事件处理</title>
    <script src = "https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
    <script src = "https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdn.bootcss.com/prop-types/15.6.1/prop-types.js"></script>
    <script src = "https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
</head>
<body>
<div id = "example"></div>

<script type = "text/babel">
    //1.定义组件
    class MyComponent extends React.Component{
        constructor(props){
            super(props);
            //将新添加方法中的this强制绑定为组件对象
            this.show_content = this.show_content.bind(this);
            this.handle_blur = this.handle_blur.bind(this);
        }

        show_content(){
            //通过 this.refs 获取支撑实例
            const i = this.refs.content;
            //alert(i.value);
            alert(this.input_mes.value);
        }

        handle_blur(event){
            //参数event接收事件对象。event.target表示dom元素
            alert(event.target.value);
        }
        //ref这个特殊的属性允许你引用 render() 返回的相应的支撑实例（ backing instance ）。这样就可以确保在任何时间总是拿到正确的实例。
        //将组件标签中ref属性理解成html标签中的id属性
        //<input type = "text" ref = "content"></input>&nbsp;&nbsp;
        //官方建议的写法是用{js代码}，而不是ref = "content"    箭头函数，this.input_mes = xx的意思是把xx这个DOM元素传给组件对象
        render(){
            return(
                    <div>
                        <input type = "text" ref = {(xx) => this.input_mes = xx}></input>&nbsp;&nbsp;
                        <button onClick = {this.show_content}>提示输入</button>&nbsp;&nbsp;
                        <input type = "text" placeholder = "失去焦点提示内容" onBlur = {this.handle_blur}></input>
                    </div>
            )
        }
    }
    //2.渲染属性标签
    ReactDOM.render(<MyComponent/>,document.getElementById("example"))
</script>
</body>
</html>