<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>react组件</title>
    <script src = "https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
    <script src = "https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src = "https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
</head>
<body>
<div id = "example1"></div>
<div id = "example2"></div>

<script type = "text/babel">
    //HTML标签是固定的，比如a标签不能自定义为aa。在react中组件标签可以任意，首字母要大写

    //步骤1.定义组件
    //方式1：工厂函数组件（简单组件）  如果组件有状态，则不能用工厂函数组件
    function MyComponent1(){
        return <h2>工厂函数组件（简单组件）</h2>;
    }
    //方式2：ES6类组件（复杂组件）
    class MyComponent2 extends React.Component{
        render(){
            return <h2>ES6类组件（复杂组件）</h2>;
        }
    }
    //步骤2.渲染组件标签
    //const element = <MyComponent1/>;  //为用户自定义的组件
    //ReactDOM.render(element,document.getElementById("example1"));
    ReactDOM.render(<MyComponent1/>,document.getElementById("example1"));
    ReactDOM.render(<MyComponent2/>,document.getElementById("example2"));
</script>
</body>
</html>