<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>react实现静态组件</title>
    <script src = "https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
    <script src = "https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src = "https://cdn.bootcss.com/prop-types/15.6.1/prop-types.js"></script>
    <script src = "https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
</head>
<body>
<div id = "example"></div>

<script type = "text/babel">
    //最外围的组件
    class App extends React.Component{
        render(){
            return(
                <div>
                    <h1>示例</h1>
                    <Add />
                    <List />
                </div>
            )
        }
    }
    //Add组件
    class Add extends React.Component{
        render(){
            return(
                <div>
                    <input type = "text"/>
                    <button>add #4</button>
                </div>
            )
        }
    }
    //List组件
    class List extends React.Component{
        render(){
            return(
                <ul>
                    <li>AAA</li>
                    <li>BBB</li>
                    <li>CCC</li>
                </ul>
            )
        }
    }
    //渲染组件
    ReactDOM.render(<App/>,document.getElementById("example"));
</script>
</body>
</html>