<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue_样式绑定</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <style>
        .base{
            color:orangered;
        }
        .other{
            font-size:24px;
            font-family:华文行楷;
        }
    </style>
</head>
<body>
<div id = "app">
    <!--可以使用数组将多个样式对象应用到一个元素上：-->
    <div v-bind:style = "[style_1,style_2]">菜鸟教程</div>
</div>

<div id = "app2">
    <!--我们可以在 v-bind:style 直接设置样式：-->
    <div v-bind:style = "{color:style_color,fontSize:style_fontsize + 'px'}">百度啊</div>
</div>

<div id = "app3">
    <div v-bind:class = "obj">搜狗</div>
</div>
<script>
    new Vue({
        el:'#app',
        data:{
            style_1:{
                color:"green"
            },
            style_2:{
                fontSize:"30px"
            }
        }
    });

    new Vue({
        el:'#app2',
        data:{
            style_color:"red",
            style_fontsize:26
        }
    });

    new Vue({
        el:'#app3',
        data:{
            obj:{
                base:true,
                other:true
            }
        }
    })
</script>
</body>
</html>