<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue_动态prop</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div id = "app">
    <input v-model = "parent_msg">
    <br>
    <!--用 v-bind 动态绑定 props 的值到父组件的数据中。每当父组件的数据变化时，该变化也会传导给子组件-->
    <child v-bind:message = "parent_msg"></child>
</div>
<script>
    //注册
    Vue.component('child',{
        props:['message'],
        template:'<span>{{message}}</span>'
    });
    //创建根实例
    new Vue({
        el:'#app',
        data:{
            parent_msg:'父组件内容'
        }
    })
</script>
</body>
</html>