<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue_模板语法之过滤器</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div id = "app">
    <!--过滤器可以串联-->
    {{message | capitalize_1 | capitalize_2(3,5)}}
</div>

<script>
    new Vue({
        el:"#app",
        data:{
            message:'baidu'
        },
        filters:{
            capitalize_1:function(value){
                if(!value){
                    alert('值不合法');
                    return
                }
                v = value.toString();
                return v.charAt(0).toUpperCase() + v.slice(1);
            },
            capitalize_2:function(value,start,end){
                if(!value){
                    alert('值不合法');
                    return
                }
                v = value.toString();
                return "," + v.slice(start,end) + "娘";
            }
        }
    })
</script>
</body>
</html>