<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue_Ajax_post请求</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>
<body>
<div id = "app">
    {{info}}
</div>

<script>
    new Vue({
        el:'#app',
        data () {
            return {
              info: null
            }
        },
        mounted () {
            /*还可以这么写
            axios({
                method:'post',
                url:'https://member.zjtcn.com/caijia/getMaterialPrice.json',
                data:{
                    pageNo: 1,
                    pageSize: 10,
                    page: 1
                }
            }).then(response => (this.info = response))
              .catch(function (error) { // 请求失败处理
                console.log(error);
              });
            */
            axios
              .post('https://member.zjtcn.com/caijia/getMaterialPrice.json',{
                  pageNo: 1,
                  pageSize: 10,
                  page: 1
              })
              .then(response => (this.info = response))
              .catch(function (error) { // 请求失败处理
                console.log(error);
              });
        }
    })
</script>
</body>
</html>