<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p id="show_x"></p>

<script>
    //例如当前url是http://localhost:63342/FerryProject/templates/api_info/xx.html?_ijt=npokv14i6etro6fbuoqdur7hui
    // 要提取出localhost:63342 把url以/分隔放入数组，取第三个
    var x = window.location.href.split("/")[2];
    document.getElementById("show_x").innerHTML = x;

    // 下面我们举例一个URL，然后获得它的各个组成部分：http://localhost:8000/#/index/cardinfo?_k=0wnq36
    //
    //     1、window.location.href(设置或获取整个URL为字符串)
    var integrityurl = window.location.href;
    console.log(integrityurl);
    // 返回：http://localhost:8000/#/index/cardinfo?_k=0wnq36

    //     2、window.location.protocol(设置或获取URL的协议部分)
    var example = window.location.protocol;
    console.log(example);
    // 返回：http:

    //     3、window.location.host(设置或获取URL的主机部分)
    var example = window.location.host;
    console.log(example);
    // 返回：localhost:8000

    // 4、window.location.port(设置或获取与URL关联的端口号码)
    var example = window.location.port;
    console.log(example);
    // 返回：8000(如果采用默认的80端口(update
    // :
    // 即使添加了:80
    // )，那么返回值并不是默认的80而是空字符
    // )
    // 例如：url
    // 为这个类型的时候：https://i.cnblogs.com/EditPosts.aspx?opt=1
    //     返回：空字符

    // 5、window.location.pathname(设置或获取与URL的路径部分（就是文件地址）)
    var example = window.location.pathname;
    console.log(example);
    // 返回：/(获取的是域名后的第一个 “/” 与 “ / ”后面内容)
    //
    // 例如：url
    // 为这个类型的时候：https://i.cnblogs.com/EditPosts.aspx?opt=1
    //     返回：/EditPosts.aspx

    // 6、window.location.search(设置或获取href属性中跟在问号后面的部分)
    var example = window.location.search;
    console.log(example);
    // 返回：? _k = 0wnq36

    // PS：获得查询（参数）部分，除了给动态语言赋值以外，我们同样可以给静态页面，并使用javascript来获得相信应的参数值。

    // 7、window.location.hash(设置或获取href属性中在井号“#”后面的分段)
    var example = window.location.hash;
    console.log(example);
    // 返回：空字符(因为url中没有)
</script>
</body>
</html>