<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AJAX_数据库</title>
</head>
<body>
<form action="">
    <select onchange="show_customer(this.value)">
        <option>-请选择-</option>
        <option value="APPLE">Apple Computer, Inc.</option>
        <option value="BAIDU ">BAIDU, Inc</option>
        <option value="Canon">Canon USA, Inc.</option>
        <option value="Google">Google, Inc.</option>
        <option value="Nokia">Nokia Corporation</option>
        <option value="SONY">Sony Corporation of America</option>
    </select>
</form>
<br>
<p id="demo"></p>

<script>
    function show_customer(op) {
        var xmlhttp;
        if(op == "-请选择-"){
            document.getElementById("demo").innerHTML = "";
        }
        if(window.XMLHttpRequest){
            xmlhttp = new XMLHttpRequest();
        }
        else{
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if(xmlhttp.readyState == 4 && xmlhttp.status == 200){
                document.getElementById("demo").innerHTML = xmlhttp.responseText;
            }
        };
        xmlhttp.open("GET","https://www.runoob.com/try/ajax/getcustomer.php?q=" + op,true);
        xmlhttp.send();
    }
</script>
</body>
</html>