<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>双十一购够</title>
</head>
<body background="/static/images/星星背景_009.gif">
<div style="text-align:center;background-color:orangered;color:white;">
    <h1>欢迎来到本优惠购物网站！</h1>
</div>
<div style="text-align:center;display:flex;display:-ms-flex;">
    <div style="flex:30%;-ms-flex:30%;">
        //促销产品1--安踏秋冬男休闲跑鞋
        <a href="https://detail.tmall.com/item.htm?spm=a1z0d.6639537.1997196601.11.88fc7484QAEcpr&id=599639997324" target="_blank">
            <img style="width:600px;height:800px;" src="/static/images/安踏男鞋1.jpg">
        </a>
        //促销产品2--安踏秋冬男厚底跑鞋
        <a href="https://detail.tmall.com/item.htm?spm=a1z0d.6639537.1997196601.5.88fc7484QAEcpr&id=593837046782" target="_blank">
            <img style="width:600px;height:800px;" src="/static/images/安踏男鞋2.jpg">
        </a>
    </div>
    <div style="flex:65%;-ms-flex:65%;">
        <h2 style="color:deeppink;font-family:新宋体;">下表是我们商城的促销产品优惠信息表</h2>
        <table align="center" border="1" style="color:hotpink;">
            <tr>
                <th>商品名称</th>
                <th>原价（单位：元）</th>
                <th>优惠金额</th>
                <th>折后价（单位：元）</th>
            </tr>
            <tr>
                <th>安踏秋冬男休闲跑鞋</th>
                <th>299</th>
                <th>60</th>
                <th>239</th>
            </tr>
            <tr>
                <th>安踏秋冬男厚底跑鞋</th>
                <th>339</th>
                <th>170</th>
                <th>169</th>
            </tr>
        </table>
        <p style="color:red;font-family:新宋体;font-size:24px;">如有任何疑问请
            <a style="color:blueviolet;font-family:新宋体;font-size:24px;" href="http://47.94.202.0:8000/contactus" target="_blank">联系我们</a>
            <a style="color:red;font-family:新宋体;font-size:24px;">，我们竭诚为您服务</a>
        </p>
    </div>
</div>
<h3 style="color:yellow;text-align:center;font-family:新宋体;">copyright@Ferry</h3>
</body>
</html>